.top {
  height: 41.5px;
  background-color: rgb(41, 102, 78);
  display: flex;
  justify-content: space-between;
}

.title {
  color: rgb(168, 184, 175);
  padding-left: 105px;
  line-height: 30px;
  font-size: 13.5px;
  box-sizing: border-box;
}

.ewha{
  color:#ffffff;
  width:17px;
  height:40px;
  text-decoration: none;
}

.instagram {
  background-image: url("./images/ico-instagram.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.facebook {
  background-image: url("./images/ico-facebook.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.twitter {
  background-image: url("./images/ico-twitter.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.blog {
  background-image: url("./images/ico-blog.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.youtube {
  background-image: url("./images/ico-youtube.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.top ul {
  list-style: none;
  margin-right: 60px;
}

.top ul li {
  float: left;
  margin-right: 20px;
  line-height: 41.5px;
}
.top ul li {
  color:transparent;
}






.part1 {
  padding: 35px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(225, 225, 225);
}
.search {
  margin-left: -40px;
}
.part1 .search .input_style {
  width: 284px;
  height: 41px;
  border: 1px solid #cccccc;
}
.part1 .search .button_style {
  width: 44px;
  height: 44px;
  background: url("./images/ico-search.png") no-repeat center;
  vertical-align: bottom;
  border: 1px solid #cccccc;
}
.part1 .menu_box {
  list-style: none;
}

.part1 .menu_box li {
  float: left;
}

.part1 .menu_box li span{
  margin-right: 20px;
  padding: 10px 25px 10px 0;
  text-decoration: none;
}

.part1 .menu_box .enter {
  background: url("./images/ico-login.png") no-repeat right center;
  color: #191919;
}
.part1 .menu_box .language {
  background: url("./images/ico-lang.png") no-repeat right center;
  color: #191919;
}




.part2 {
  height: 90px;
  border-bottom: 2px solid #045738;
}
.part2_box {
  height: 100%;
}
.part2 .part2_box ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.part2 .part2_box ul li {
  float: left;
  position: relative;
}
.part2 .part2_box ul li:hover {
    .a_icon:after {
    background: url("./images/ico-gnb-pop-new.png") no-repeat center center;
    content: "";
    display: block;
    position: absolute;
    top: 17px;
    right: 10px;
    width: 21px;
    height: 18px;
  }















