p {
			color: #EFAFAD;
      }
      h1, h2 {
	font-family: Arial;
	color: grey;
      }

      h1 {
	border-bottom:1px solid black;
      }
      body{
	color: royalblue;
	color: rgb(65, 15, 225);
	color: #EFAFAD;
	color: rgba(39,177,182,0.8);
	color: #2776b6FC;
	background-color: rgb(25%, 41%, 88%);
	background-color: rgb(65, 105, 225);
}